<h1>Editing ingredient</h1>

<%= render "form", api_ingredient: @api_ingredient %>

<br>

<div>
  <%= link_to "Show this ingredient", @api_ingredient %> |
  <%= link_to "Back to ingredients", api_ingredients_path %>
</div>
